  .app-side-nav{
    position: relative;
      }

  .app-side-nav-link{
    
       width: 100%;
       position: relative;
       height:50px;
       border-top-right-radius: 15px; 
       color: white;
      margin: 2px 0px;}

    .app-side-nav-hr{
      border: 1px solid lightgrey;


    }

  