<<<<<<< HEAD
/* Author: Prashant Sanjay Sarvi */
=======
/*
Author : Nikunj Goenka
*/
>>>>>>> feature/nikunj
#courseTitle{
    color: white;
}
.CourseContainer{
    overflow-y: scroll;
    height: 70vh;
}